.containerBody {
  display: flex;
  position: sticky;
  flex-direction: column;
  background-image: url('../../assets/bg1.jpg');
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

/* Contenedor de Cards */
.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 95%;
  
}
