.containerBody {
  display: flex;
  flex-direction: column;
  
  
  background-image: url('./bg11.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
}

/* Contenedor de Cards */
.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 95%;
  min-height: 100%;
}
