.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.containerSearch {
  position: absolute;
  top: 50%;
  left: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 50px;
}

.errorText {
  text-transform: uppercase;
  color: red;
  background: white;
  border-radius: 30px;
  padding: 10px;
}

.search {
  border-radius: 20px 0 0 20px;
  padding-left: 20px;
  border: 2px solid red;
  box-shadow: 0 0 10px #000, inset 0 0 10px #000;
}

.buttonSearch {
  border-radius: 0 20px 20px 0;
  padding-right: 10px;
  padding-left: 5px;
  color: black;
  background: red;
  box-shadow: 0 0 10px #000, inset 0 0 10px #000;
}

.buttonSearch:hover {
  background: white;
  color: red;
}

.imgSearch {
  width: 300px;
  height: auto;
}

.imgSearchGif {
  margin-top: 10px;
  width: 300px;
  height: auto;
  border-radius: 30px;
}

.containerSearchGif {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.imgClose {
  align-self: self-start;
  padding-top: 20px;
  width: 40px;
  height: auto;
}
.closerDiv {
  display: flex;
  align-items: flex-start;
}

.options {
  background: red;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  font-size: 12px;
  box-shadow: inset 0 0 20px #000;
  border: 1px solid #000;
}

.options:hover {
  cursor: pointer;
  animation: backgr 0.7s both;
}

@keyframes backgr {
  0% {
    background: white;
    color: red;
    box-shadow: 0;
    box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.6),
      -2px -2px 2px 2px rgba(0, 0, 0, 0.6);
  }

  100% {
    background: rgb(255, 0, 0);
    background: linear-gradient(
      346deg,
      rgba(255, 0, 0, 1) 32%,
      rgba(255, 255, 255, 0.5214460784313726) 50%,
      rgba(0, 0, 0, 1) 68%
    );
    color: white;
    box-shadow: 10px 12px 14px 14px rgba(255, 255, 255, 0.6),
      -10px -15px 9px 10px rgba(0, 0, 0, 0.6);
  }
}
