.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.containerFloat {
  position: absolute;
  top: 50%;
  left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 50px;
  flex-wrap: wrap;
}

.containerFloatTypes {
  position: absolute;
  top: 50%;
  left: 5%;
  display: flex;
  width: 90vw;
  height: auto;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 50px;
}

.containerTypesMain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.containerTypes {
  display: flex;
  margin: 20px;
  width: 170px;
}

.imgTypes {
  width: 80px;
  z-index: 20;
}

.closeAndCreated {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}

.imgClose {
  align-self: self-start;
  padding-top: 20px;
  width: 40px;
  height: auto;
}

.imgOrder1 {
  width: 180px;
}
.imgOrder2 {
  width: 250px;
}

.buttonOrder {
  margin: 10px;
  border-radius: 20px;
  padding-right: 10px;
  padding-left: 5px;
  color: black;
  background: red;
  box-shadow: 0 0 10px #000, inset 0 0 10px #000;
}

.buttonOrder:hover {
  background: white;
  color: red;
}

.options {
  background: red;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  font-size: 12px;
  box-shadow: inset 0 0 20px #000;
  border: 1px solid #000;
}

.options:hover {
  cursor: pointer;
  animation: backgr 0.7s both;
}

@keyframes backgr {
  0% {
    background: white;
    color: red;
    box-shadow: 0;
    box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.6),
      -2px -2px 2px 2px rgba(0, 0, 0, 0.6);
  }

  100% {
    background: rgb(255, 0, 0);
    background: linear-gradient(
      346deg,
      rgba(255, 0, 0, 1) 32%,
      rgba(255, 255, 255, 0.5214460784313726) 50%,
      rgba(0, 0, 0, 1) 68%
    );
    color: white;
    box-shadow: 10px 12px 14px 14px rgba(255, 255, 255, 0.6),
      -10px -15px 9px 10px rgba(0, 0, 0, 0.6);
  }
}

.buttonType {
  text-transform: uppercase;
  background: red;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 20px;
  font-size: 12px;
  box-shadow: inset 0 0 20px #000;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.buttonType:hover {
  cursor: pointer;
  animation: backgr 0.7s both;
}

.closeContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokeImage{
  width: 170px;
}

.columnOrder{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.sortOrder{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #000;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 3px solid rgb(255, 255, 255);
}

.sortOrder input{
  display: none;
}
.sortOrder input:checked + label{
  background: white;
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.labelsOrder {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}

.orderBy{
  background: red;
  margin: 10px;
  border-radius: 20px;
  padding: 0 10px;
}