.container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100%;
  overflow: hidden;
  background-image: url('../../assets/backgrounds/bg1.jpg');
  background-size: cover;
  background-attachment: fixed;
}
.containerSup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.containerEvo {
  display: flex;
  flex-direction: column;
  width: auto;
  text-transform: uppercase;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 10px double rgb(255, 255, 255);
  padding: 10px 20px 10px 20px;
  border-radius: 0 80px 80px 0;
  text-align: center;
  animation: sliceINLeft 2s normal both;
}
.evolutions {
  display: flex;
  flex-wrap: wrap;
}

.evo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imgChain {
  width: 150px;
}

/*////////////////////*/
.progress {
  background: rgba(255,255,255,0.1);
  border-radius: 100px;
  align-items: center;
  padding-top: 5px;
  display: flex;
  height: 20px;
  justify-content: space-between;
  flex-direction: column;
  animation: sliceINRight 2s normal both;
}

.progressValue {
  display: block;
  animation: load 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border: 3px solid ;
  border-radius: 100px;
  background: #ffffff;
  height: 25px;
  width: 0;
  margin-left: 5px;
  margin-right: 5px;
}
.stats{
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  width: 400px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 3px solid rgb(255, 255, 255);
  color: white;
}

.statsName{
  width: 80px;
}

@keyframes load {
  0% { width: 0; }
  100% {  }
}

/*/ ////////////////*/

.containerInf {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.containerDetails {
  text-transform: uppercase;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 10px double rgb(255, 255, 255);
  padding: 30px 50px 30px 50px;
  border-radius: 0 80px 80px 0;
  text-align: center;
  min-width: 25%;
  animation: sliceINLeft 2s normal both;
}

.imgPoke {
  animation: imgIN 2s normal both;
  max-height: 500px;
}
@keyframes imgIN {
  0% {
    transform: translate(0, 0) scale(0);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.containerNameTypes {
  text-transform: uppercase;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 10px double rgb(255, 255, 255);
  padding: 30px 50px 30px 50px;
  border-radius: 80px 0 0 80px;
  text-align: center;
  min-width: 25%;

  animation: sliceINRight 2s normal both;
}

@keyframes sliceINRight {
  0% {
    transform: translate(20em, 0) scale(0.5);
  }
  100% {
  }
}

@keyframes sliceINLeft {
  0% {
    transform: translate(-20em, 0) scale(0.5);
  }
  100% {
  }
}

.containerT {
  display: flex;
  justify-content: space-around;
}

.containerTypes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.typesImg {
  width: 50px;
  height: auto;
  margin-left: 10px;
  margin-right: 5px;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  width: 95%;
}

.containerDelete{
  display: flex;
  justify-content: center;
}

.deleteImg{
  width: 80px;
}