
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.containerSup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*////////////////////*/
.progress {
  
  background: rgba(255,255,255,0.1);
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  animation: sliceINRight 2s normal both;
}

.progressValue {
  display: block;
  animation: load 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border: 3px solid ;
  border-radius: 100px;
  background: #ffffff;
  height: 30px;
  width: 0;
  margin-left: 5px;
  margin-right: 5px;
}
.stats{
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  border-radius: 20px 20px 20px 20px;
  padding: 5px 10px;
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.70);
  backdrop-filter: blur( 6.5px );
  border-radius: 0 30px 0 30px ;
  border: 1px solid rgb(0, 0, 0);
  width: 500px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 3px solid rgb(255, 255, 255);
  color: white;
}

.statsName{
  width: 100px;
}

@keyframes load {
  0% { width: 0; }
  100% {  }
}

/*/ ////////////////*/

.containerInf {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  position: absolute;
  width: 100%;
  overflow: hidden;
}

.containerDetails {
  text-transform: uppercase;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 10px double rgb(255, 255, 255);
  padding: 30px 50px 30px 50px;
  border-radius: 0 80px 80px 0;
  text-align: center;
  min-width: 25%;
  animation: sliceINLeft 2s normal both;
}

.genderImg{
  width: 30px;
  height: auto;;
}
.imgPoke {
  position: relative;
  animation: imgIN 2s normal both;
}
@keyframes imgIN{
  0% {
    transform: translate(0, 0) scale(0);
  }
  100% {
    transform: translate(0, 0) scale(1);

  }
}

.containerNameTypes {
  text-transform: uppercase;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 10px double rgb(255, 255, 255);
  padding: 30px 50px 30px 50px;
  border-radius: 80px 0 0 80px;
  text-align: center;
  min-width: 25%;
  
  animation: sliceINRight 2s normal both;
}

@keyframes sliceINRight{
  0% {
    transform: translate(20em, 0) scale(0.5);
  }
  100% {
  }
}

@keyframes sliceINLeft{
  0% {
    transform: translate(-20em, 0) scale(0.5);
  }
  100% {
  }
}


.containerT {
  display: flex;
  justify-content: space-around;
}

.containerTypes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.typesImg {
  width: 50px;
  height: auto;
  margin-left: 10px;
  margin-right: 5px;
}
