.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
   background-image: url('../../assets/backgrounds/pokemonfondo.png');
  background-size: cover;
  background-attachment: fixed;
}
.title {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.containerImage {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.imgNewPoke {
  display: flex;
  width: 290px;
  height: 290px;
}

.containerMiniatures {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 3px solid rgb(255, 255, 255);
}

.miniature {
  margin: 3px;
   border: 2px solid rgb(255, 255, 255);
   background: rgba(255, 255, 255, 0.5);
  width: 90px;
  height: 90px;
}
.miniature:hover{
     background: rgba(255, 255, 255, 1);

}

.containerData {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.containerForm {
  display: flex;
  height: 100%;
  width: 100%;
}

.form {
  width: 100%;
}
.containerStats {
  margin-top: 5px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 3px solid rgb(255, 255, 255);
  color: white;
  flex-wrap: wrap;
}
.containerTypes {
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 3px solid rgb(255, 255, 255);
  color: white;
}
.checkTypes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.checkOptions {
  display: flex;
  width: 180px;
  align-items: center;
  padding-bottom: 10px;
  overflow: hidden;
}

.imgTypes {
  width: 50px;
  height: 50px;
  z-index: 10;
}

.range {
  width: 100px;
  height: 15px;
  appearance: none;
  background: #fff;
  outline: none;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #00fd0a;
  cursor: pointer;
  border: 4px solid #333;
  box-shadow: -40px 0 0 40px #00fd0a;
}

.stat {
  display: flex;
  align-items: center;
}
.labels {
  width: 90px;
}

.input {
  background: none;
  color: white;
  width: 50px;
  border: 1px solid #fff;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  font-size: medium;
  border-radius: 50%;
  padding: 0;
  box-sizing: border-box;
  caret-color: #00fd0a;
}

.charaterist {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 3px solid rgb(255, 255, 255);
  color: white;
}

.stats {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 3px solid rgb(255, 255, 255);
  color: white;
}
